<!DOCTYPE html>
<html lang="fr">
<head>
<title>Hektor</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="description" content="Oeuvres de Gaston Gouin mises en valeur par l'artiste Isabelle Gagné dans la ville de Saint-Camille">

<link href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono' rel='stylesheet'>

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/mobile.css">
<link rel="stylesheet" type="text/css" href="/css/desktop.css">

<% if @env["PATH_INFO"].match(/oeuvres/) %>
    <link rel="stylesheet" type="text/css" href="/css/oeuvres.css">
    <script src="/lib/masonry.pkgd.min.js"></script>
    <script src="/lib/grille-images.js"></script>
<% end %>

<% if @env["PATH_INFO"].match(/bio/) %>
    <link rel="stylesheet" type="text/css" href="/css/bio.css">
<% end %>

<% if @env["PATH_INFO"].match(/paysages/) %>
    <link rel="stylesheet" type="text/css" href="/css/paysages.css">
    <script src="/lib/jquery-3.4.1.min.js"></script>
    <script src="/lib/jquery.touch.js"></script>
    <script src="/lib/jquery.swipe.js"></script>
    <script src="/lib/paysages.js"></script>
<% end %>

<% if @env["PATH_INFO"].match(/info/) %>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
<% end %>
</head>
<body>
<header>
    <div id="menu-responsive">
        <div class="flex">
            <div class="centrerY-texte">
                <a href="/bio">bio + démarche</a>
            </div>
            <div class="centrerY-texte">
                <a href="/oeuvres">oeuvres</a>
            </div>
            <div class="centrerY-texte">
                <a href="/info">?</a>
            </div>
        </div>
    </div>
    <div id="hamburger">
        <img src="/images/hamburger.png" class="centrerY" alt="menu responsive" onclick="toggleAffichageMenu()">
    </div>
    <div id="menu">
        <div class="pure-g">
            <div id="sections-information" class="pure-u-1-3">
                <ul class="centrerY" style="padding: 0;">
                    <li style="margin-right: 25px;"><a href='/bio' <%= @env["PATH_INFO"].match(/bio/) ? "class='vert'" : ''%>>bio + démarche</a></li>
                    <li><a href='/oeuvres' <%= @env["PATH_INFO"].match(/oeuvres/) ? "class='vert'" : ''%>>oeuvres</a></li>
                </ul>
            </div>
            <div id="logo-container" class="pure-u-md-1-3">
                <a href="/">
                    <img id="logo" class="centrerXY" src="<%= @logo %>" alt="Logo Hektor">
                </a>
            </div>
            <div id="aide" class="pure-u-1-3">
                <ul class="centrerY" style="padding: 0; right: 0;">
                    <li><a href='/info' <%= @env["PATH_INFO"].match(/info/) ? "class='blanc'" : ''%>>?</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<%= yield %>
<script type="text/javascript">
function toggleAffichageMenu () {
    document.getElementById("menu-responsive").classList.toggle("affiche");
}
</script>
</body>
</html>
